/* 


	Problem: 
	+ Neither left nor right side touch bottom of browser when browser is maximized
	When: 
	+ Maximize browser
	Solutions: 
	+ See if flex-grow works

	Make text wrap "upwards", it should not invade space for text fields.

	Use flex row wrap + flex 1 for fields

	Skim maintainable CSS to get a better idea of how to organize your CSS
	https://maintainablecss.com/chapters/semantics/
	
*/

/* my reset, copy, then delete me */
*,
*::before, 
*::after {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

body {
	font-size: 2rem;
	line-height: 1.5;
}

html, body {
	height: 100%;
}

input, label, button, select, textarea {
	appearance: none;
	font: inherit;
}

input:focus, textarea:focus {
	outline: none;
}

ol, ul, menu {
	list-style: none;
	padding: 0; /* needed? */
}

a, button {
	cursor: revert;
}
/* my reset */

:root {
	background-color: #555;
	height: 100%;
	display: flex;
	justify-content: center;
}

.wholeBox {
	background: 19% 9% / 1200px repeat url(https://images.unsplash.com/photo-1674380394920-d3625d55d7c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80);
	
	height: 100%;
	width: min(98vw, 145rem);
	display: flex;
	flex-flow: row;
	background-color: hsla(200, 75%, 90%, 1.00); /* delete me */
	
	/* Test properties */
	background-attachment: fixed;
	background-size:cover;
	min-height: 100%;
}

.firstHalf {
	flex: 1 1 34rem; /* do not comment-out */
}

.secHalf {
	flex: 1 1 66rem; /* do not comment-out */

	display: flex;
	flex-flow: column;
}

.secHalf-header {
	height: 30rem;
	background-color: lightsalmon; /* delete me */
}

.secHalf-body {
	height: 30rem;
	background-color: lightseagreen; /* delete me */
}

.secHalf-footer {
	background-color: #fff; /* delete me */
	flex: 1 1 auto;
}

disable @media only screen and (min-width: 900px) {
	li {
		flex: 1 1 20rem;
	}
	
	.secHalf-fieldsBox :where(label, input) {
		flex: 1 1 25rem;
	}
}

@media only screen and (min-width: 1100px) {
	li {
		flex: 0 0 25rem;
	}
	
	.secHalf-fieldsBox :where(label, input) {
		flex: 0 0 26rem;
	}
}
