/* 

	Make fields single column by default, expand to 2 columns with media query.
	
	Make text wrap "upwards", it should not invade space for text fields.

	Use flex row wrap + flex 1 for fields

	change "lobster" font-family

	Skim maintainable CSS to get a better idea of how to organize your CSS
	https://maintainablecss.com/chapters/semantics/
	
	Use clamp() on outerContainer, do not let it get too narrow or too wide.
	Right now if you stretch it over multiple monitors, it gets really wide.

	When leftSide gets too small, have "company name" and actual logo stack
	media query code is here
	https://www.internetingishard.com/html-and-css/forms/
	

*/

/* my reset */
* { margin: 0; padding: 0;  }

:root {
	font-size: 62.5%;
	box-sizing: border-box;
}

body { font-size: 1.6rem; }

input, label, button, select, textarea {
	appearance: none;
	font-family: inherit;
	font-size: 100%;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	padding: 0;
}


/* This seems to style desktop form ONLY */
/* @media only screen and (min-width: 700px) {
	.speaker-form-header,
	.speaker-form {
		width: 600px;
	}

	.fieldContainer {
	display: flex;
	flex: row;
}
.leftFields { margin-right: 6rem; }

} */