*,
*::before, 
*::after {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
  height: 100%;
}

body { 
	font-size: 2rem;
	line-height: 1.5;
}

input, label, button, select, textarea {
	appearance: none;
	font: inherit;
	letter-spacing: inherit;
}

input:focus, textarea:focus {
	outline: none;
}

ol, ul, menu {
	list-style: none;
	padding: 0; /* needed? */
}

a, button {
	cursor: pointer;
}
/* end of reset */

body {
	letter-spacing: 0.07rem;
}

/* css variables */

:root {
	--pad1: 4rem;
	--hue1: 340;
	background-color: #222;
	font-family: "Oxygen",Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: min(98vw, 145rem);
}

body {
	display: flex;
	flex-grow: 1;
	background: 0% 0% / 800px repeat url(https://images.unsplash.com/photo-1555511844-51bed8c7e58a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);
}

.leftSide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
	flex: 1 1 33.33rem;
}

.leftSide-overlayBox {
	position: relative;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	height: min(11vw, 14rem);
	width: 100%;
	top: calc(20rem - 1.5vw);
	background-color: rgba(0, 0, 0, 0.596);
}

.leftSide-logoImage {
	height: min(7vw, 9rem);
	margin-right: 1.5rem;
}

.leftSide-brand {
	font-family: "Righteous";
	letter-spacing: 0.05em;
	font-size: min(5vw, 7rem);
}

.leftSide-brand::first-letter {
	color: hsla(var(--hue1), 100%, 50%, 1.00);
}

.leftSide-creditBox {
	
	position: relative;
	font-size: 1.2rem;
	color: white;
}

.leftSide-creditBox :is(a:link, a:visited, a:hover, a:active) {
	color: #fff;
}

.rightSide {
	display: flex;
	flex-direction: column;
	flex: 1 1 66.66rem;
	background-color: hsla(0, 0%, 97%, 1.00);
}

/* right side content boxes */

.rightSide-header {
	padding-top: clamp(2rem, 24vh - 10rem, 14rem);
	padding-left: var(--pad1);
	padding-bottom: min(6vmin, 5rem);
	padding-right: min(20vw - 12rem, 20rem);
	font-weight: bold;
	font-size: clamp(1.8rem, 2vw, 2rem);
}

.rightSide-header > p:nth-of-type(1) {}

.rightSide-header > p:nth-of-type(2) {
	margin-bottom: 2.5rem;
}

.rightSide-header > p:nth-of-type(3) {
}

.rightSide-body {
	background-color: hsla(0, 0%, 100%, 1.00);
	padding-top: min(4vmin, 4rem);
	padding-right: 3rem;
	padding-left: var(--pad1);
	padding-bottom: clamp(3rem, 7vh, 4rem);
	font-weight: bold;
	box-shadow: 0px 3px 3px #aaa;
	font-size: clamp(1.8rem, 2vw, 2rem);
}

.rightSide-body > p:only-of-type {
	margin-bottom: 2rem;
}

/* Field style */

.rightSide-fieldsBox {
	display: flex;
	flex-flow: row wrap;
	gap: 2.1rem 8rem;
}

.rightSide-fieldsBox li {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 26rem;
} 

.rightSide-fieldsBox :where(label, input) {
	flex-basis: 26rem;
}

.rightSide-fieldsBox label {
	font-weight: normal;
	font-size: 1.35rem;
	margin-bottom: 0.1rem;
}

.rightSide-fieldsBox input {
	border: 1px solid #bbb;
	font-size: 1.6rem;
	font-weight: normal;
	border-radius: 5px;
	padding: 0.45rem 0.95rem;
}

.rightSide-fieldsBox input:focus {
	box-shadow: 2px 2px 4px #bbb;
	border: 1px solid hsla(240, 55%, 50%, 1.00);
}

/* Individual field style */

label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

label > span {
	position: absolute;
	top: 56px;
	right: 8px;
	font-style: italic;
	font-size: 0.8em;
}

span[data-help] {
	position: relative;
	width: 100%;
}

input:focus + span[data-help]::before {
	position: absolute;
	top: -33px;
	right: 5px;
	content: " " attr(data-help) "";
	animation: help-fade 60s;
	font-size: 	1rem;
	color: green;
	width: max-content;
	
}

@keyframes help-fade {
	0% {
		opacity: 0;
	}
	4% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

input::placeholder {
	opacity: 1;
	color: #ccc;
}

input.customValid {
	outline: 2px solid green;
}

.checkmark {
	position: absolute;
	top: 23px;
	right: -23px;
	color: green;
	visibility: hidden;
}

.exmark {
	position: absolute;
	top: 23px;
	right: -22px;
	color: red;
	visibility: hidden;
}

input.customInvalid {
	outline: 2px solid red;
}

li {
	position: relative;
}

/* Password fields */

.pwdWidgetContainer,
.pwdConfirmWidgetContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	font-weight: normal;
}

input[id="pwdInitial"],
input[id="pwdConfirm"] {
	padding-left: 33px;
}

.noSpacesHelp {
	position: absolute;
	top: 60px;
	width: max-content;
	color: #f00;
	font-size: 1rem;
}


span.eyeSlash {
	position: absolute;
	top: 31px;
	left: 9px;
	content: url(../images/eye-slash.svg);
}

span.eye {
	position: absolute;
	top: 31px;
	left: 9px;
	content: url(../images/eye.svg);
	visibility: hidden;
}

button.pwdToggle {
	position: absolute;
	top: 26px;
	left: 3px;
	background-color: green;
	opacity: 0;
	height: 28px; width: 28px;
}

.meterContainer-outer {
	position: absolute;
	top: 0px;
	right: 25px;
	width: max-content;
	display: flex;
	justify-content: end;
	width: 100%;
	text-align: right;
}

.meterContainer-inner {
	font-weight: normal;
	width: 50%;
	display: flex;
	justify-content: end;
	align-items: center;
}

meter {
	width: 50%;
	height: 20px;
}

.emoji-normal {
	position: absolute;
	font-size: 1.5rem;
	right: -25px;
}

.emoji-spin {
	position: absolute;
	font-size: 1.8rem;
	right: -25px;
	animation: spin 0.75s alternate-reverse;
}

@keyframes spin {
	to {
		transform: rotate(720deg) scale(5);
	}
}

.pwdConfirmHelp {
	width: max-content;
	position: absolute;
	top: 60px;
	left: 4px;
	font-size: 1rem;
	font-weight: bold;
}

.rightSide-footer {
	flex: 1 1 auto;
	padding: var(--pad1);
	
}

.rightSide-footer > p:last-of-type {
	font-weight: bold;
	font-size: 1.5rem;
}

.rightSide-footer :where(a:link, a:visited, a:hover, a:active) {
	text-decoration: none;
	color: hsla(170, 85%, 40%, 1.00);
}

.btnSubmit {
	--tb: clamp(0.75rem, 1vw, 1.25rem);
	--lr: clamp(4rem, 5vw, 5.7rem);
	padding-top: var(--tb);
	padding-bottom: var(--tb);
	padding-left: var(--lr);
	padding-right: var(--lr);
	margin-bottom: 3rem;
	font-size: clamp(1.5rem, 1.5vw, 1.7rem);
	font-weight: bold;
	letter-spacing: 0.1rem;
	border-radius: 1rem;
	border: 0;
	background-color: hsla(var(--hue1), 55%, 50%, 1.00);
	color: white;
	box-shadow: 3px 3px 3px #ccc;
}

.btnSubmit:hover {
	background-color: hsla(var(--hue1), 75%, 60%, 1.00);
	transform: scale(1.04);
	transform-origin: center;
	transition: 0.1s;
}

.btnSubmit:active {
	background-color: hsla(var(--hue1), 55%, 30%, 1.00);
}


/* media queries */

@media only screen and (min-width: 900px) {


	.rightSide-fieldsBox li {
		flex: 1 1 20rem;
	}

	.rightSide-fieldsBox :where(label, input) {
		flex: 1 1 25rem;
	}
}

@media only screen and (min-width: 1100px) {
	.rightSide-fieldsBox li {
		flex: 0 0 25.9rem;
	}

	.rightSide-fieldsBox :where(label, input) {
		flex: 0 0 26rem;
	}
}

@media only screen and (max-width: 900px) {
	.leftSide-logoImage {
		display: none;
	}

	.leftSide-brand {
		font-size: min(7vw, 6rem);
	}

	.rightSide-body {
		padding-bottom: 3rem;
	}
}

@media only screen and (max-width: 700px), (orientation: portrait) {
	body {
		flex-direction: column;
	}

	.leftSide-overlayBox {
		height: unset;
		top: 29%;
	}

	.leftSide-logoImage {
		display: unset;
		height: 7rem;
	}

	.leftSide-brand {
		font-size: 6rem;
	}

	.leftSide {
		flex-basis: 20rem;
	}

	.rightSide-header {
		padding: 3rem;
		text-align: center;
	}

	.rightSide-header > p:nth-of-type(2) {
		margin-top: 2rem;
	}

	.rightSide-body {
		text-align: center;
		padding-bottom: 4rem;
	}

	.rightSide-fieldsBox {
		text-align: left;
		justify-content: center;
	}

	.rightSide-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.rightSide-fieldsBox li {
		flex: 0 0 29.9rem;
	}

	.rightSide-fieldsBox :where(label, input) {
		flex: 0 0 30rem;
	}
}