/* 

	Add responsive padding after page looks ok without it
	Allow header to shrink more than body and footer when resized
	Reduce padding-top on header
	Reduce padding-top on body


	Make overlay shorter, more bar-like


	Problem: 
	+ Neither left nor right side touch bottom of browser when browser is maximized
	When: 
	+ Maximize browser
	Solutions: 
	+ See if flex-grow works

	Make text wrap "upwards", it should not invade space for text fields.

	Use flex row wrap + flex 1 for fields

	Skim maintainable CSS to get a better idea of how to organize your CSS
	https://maintainablecss.com/chapters/semantics/
	
*/

/* my reset, copy, then delete me */
*,
*::before, 
*::after {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
  height: 100%;
}

body { 
	font-size: 2rem;
	line-height: 1.5;
}

input, label, button, select, textarea {
	appearance: none;
	font: inherit;
	letter-spacing: inherit;
}

input:focus, textarea:focus {
	outline: none;
}

ol, ul, menu {
	list-style: none;
	padding: 0; /* needed? */
}

a, button {
	cursor: pointer;
}
/* my reset */

body {
	letter-spacing: 0.07rem;
}

/* css variables */
:root {
	--pad1: 4rem;
	background-color: #222;
	font-family: "Oxygen",Arial, Helvetica, sans-serif;

	/* new */
	display: flex;
	flex-direction: column;
	margin: auto;
	width: min(98vw, 145rem);
}

body {
	display: flex;
	flex: 1 1 auto;
	background: 0% 0% / 800px repeat url(https://images.unsplash.com/photo-1674380394920-d3625d55d7c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80);
}

.leftSide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;

	flex: 1 1 33.33rem;
}

.leftSide-overlayBox {
	position: relative;
	color: #fff;
	display: flex;
	/* flex-direction: row; */
	justify-content: center;
	align-items: center;

	height: min(13vw, 17rem);
	width: 100%;
	top: calc(20rem - 1.5vw);
	background-color: hsla(240, 30%, 30%, 0.15);
}

.leftSide-logoImage {
	/* height: 85%; */
	height: min(6vw, 8rem);
	margin-right: 1.5rem;
}

.leftSide-brand {
	font-family: "Permanent Marker";
	letter-spacing: 0.1em;
	/* font-size: 5rem; */
	font-size: min(5vw, 7rem);
}

.leftSide-brand::first-letter {
	color: hsla(170, 95%, 70%, 1.00);
}

.leftSide-creditBox {
	
	position: relative;
	/* top: 98%; */
	font-size: 1.2rem;
	color: #000;
}

.leftSide-creditBox :is(a:link, a:visited, a:hover, a:active) {
	color: #fff;
}



.rightSide {
	display: flex;
	flex-direction: column;
	flex: 1 1 66.66rem;
	background-color: hsla(0, 0%, 97%, 1.00);
}

/* right side content boxes */

.rightSide-header {
	padding: 15rem 8rem 4rem var(--pad1);
	flex: 1 1 10rem;
	font-weight: bold;
}

.rightSide-header > p:nth-of-type(1) {}

.rightSide-header > p:nth-of-type(2) {
	margin-bottom: 2.5rem;
}

.rightSide-header > p:nth-of-type(3) {
	margin-bottom: 3rem;
}


.rightSide-body {
	background-color: hsla(0, 0%, 100%, 1.00);
	padding: var(--pad1);
	font-weight: bold;
	box-shadow: 0px 3px 3px #aaa;
	flex: 1 1 auto;
}

.rightSide-body > p:only-of-type {
	margin-bottom: 2rem;
}

/* Field style */

.rightSide-fieldsBox {
	/* background-color: hsla(0, 0%, 90%, 1.00); */
	display: flex;
	flex-flow: row wrap;
	gap: 2.1rem 8rem;
}

.rightSide-fieldsBox li {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 26rem;
} 

.rightSide-fieldsBox :where(label, input) {
	/* background-color: lightcyan; */
	flex-basis: 26rem;
}

.rightSide-fieldsBox label {
	font-weight: normal;
	font-size: 1.35rem;
	margin-bottom: 0.1rem;
}

.rightSide-fieldsBox input {
	border: 1px solid #bbb;
	font-size: 1.6rem;
	font-weight: normal;
	border-radius: 5px;
	padding: 0.45rem 0.95rem;
}

.rightSide-fieldsBox input:focus {
	box-shadow: 2px 2px 4px #bbb;
	border: 1px solid hsla(240, 55%, 50%, 1.00);
}

.rightSide-footer {
	flex: 1 1 auto;
	padding: var(--pad1);
	
}

.rightSide-footer > p:last-of-type {
	font-weight: bold;
}

.rightSide-footer :where(a:link, a:visited, a:hover, a:active) {
	text-decoration: none;
	color: hsla(170, 85%, 40%, 1.00);
}

.btnSubmit {
	padding: 1.25rem 5.7rem;
	margin-bottom: 3rem;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	border-radius: 1rem;
	border: 0;
	background-color: hsla(170, 55%, 50%, 1.00);
	color: white;
	box-shadow: 3px 3px 3px #ccc;
}

.btnSubmit:hover {
	background-color: hsla(170, 75%, 60%, 1.00);
	transform: scale(1.04);
	transform-origin: center;
	transition: 0.1s;
}

.btnSubmit:active {
	background-color: hsla(170, 55%, 30%, 1.00);
}

/* media queries */

@media only screen and (min-width: 900px) {
	.rightSide-fieldsBox li {
		flex: 1 1 20rem;
	}

	.rightSide-fieldsBox :where(label, input) {
		flex: 1 1 25rem;
	}
}

@media only screen and (min-width: 1100px) {
	.rightSide-fieldsBox li {
		flex: 0 0 25rem;
	}

	.rightSide-fieldsBox :where(label, input) {
		flex: 0 0 26rem;
	}
}