/* 


	Problem: 
	+ Neither left nor right side touch bottom of browser when browser is maximized
	When: 
	+ Maximize browser
	Solutions: 
	+ See if flex-grow works

	Make text wrap "upwards", it should not invade space for text fields.

	Use flex row wrap + flex 1 for fields

	Skim maintainable CSS to get a better idea of how to organize your CSS
	https://maintainablecss.com/chapters/semantics/
	
*/

/* my reset, copy, then delete me */
*,
*::before, 
*::after {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

body { 
	font-size: 2rem;
	line-height: 1.5;
}

html {
  height: 100%;
}

input, label, button, select, textarea {
	appearance: none;
	font: inherit;
}

input:focus, textarea:focus {
	outline: none;
}

ol, ul, menu {
	list-style: none;
	padding: 0; /* needed? */
}

a, button {
	cursor: revert;
}
/* my reset */

body {
	letter-spacing: 0.07rem;
}

/* css variables */
:root {
	--rightSide-LeftPad: 4rem;
	display: flex;
	justify-content: center;
	background-color: #222;
	font-family: "Oxygen",Arial, Helvetica, sans-serif;
}

.wholeBox {
	width: 500px; /* overridden below */
	background: -10px -400px / 600px no-repeat url(https://images.unsplash.com/photo-1674380394920-d3625d55d7c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80);

}

.leftSide {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: #ccc; */
	height: 20rem;

}

.leftSide-overlayBox {
	position: relative;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 33%;
	width: 100%;

	background-color: hsla(240, 30%, 30%, 0.15);
}

.leftSide-logoImage {
	height: 85%;
	margin-right: 1.5rem;
}

.leftSide-brand {
	font-family: "Permanent Marker";
	letter-spacing: 0.1em;
	font-size: 5rem;
}

.leftSide-brand::first-letter {
	color: hsla(170, 95%, 70%, 1.00);
}

.leftSide-creditBox {
	font-size: 1.2rem;
	color: black;
	position: absolute;
	bottom: 0.25rem;
}

.leftSide-creditBox :is(a:link, a:visited, a:hover, a:active) { color:#fff; }

.rightSide {
	background-color: hsla(0, 0%, 97%, 1.00);
}

.rightSide-header {
	padding: 4rem 8rem 4rem var(--rightSide-LeftPad);
	font-weight: bold;
}

.rightSide-header > p:nth-of-type(1) {}
.rightSide-header > p:nth-of-type(2) { margin-bottom: 2.5rem; }
.rightSide-header > p:nth-of-type(3) { margin-bottom: 3rem; }

.rightSide-body {
	padding: var(--rightSide-LeftPad);
	background-color: white;
	font-weight: bold;
	box-shadow: 0px 3px 3px #aaa;

  background-color: #fff; /* delete me */
}

.rightSide-body > p:only-of-type {
	margin-bottom: 2rem;
}


/* Field style */

.rightSide-fieldsBox {
	background-color: #fff; /* delete me */
	display: flex;
	flex-flow: row wrap;
	gap: 2.1rem 8rem;
}

li {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 25rem;
}

.rightSide-fieldsBox :where(label, input) {
	background-color: #fff;
	flex-basis: 26rem;
}

label {
	font-weight: normal;
	font-size: 1.35rem;
	margin-bottom: 0.1rem;
}

input {
	/* width: 75%; */
	border: 1px solid #bbb;
	font-size: 1.6rem;
	border-radius: 5px;
	padding: 0.45rem 0.95rem;
}

input:focus {
	box-shadow: 2px 2px 4px #bbb;
	border: 1px solid hsla(240, 55%, 50%, 1.00);
	/* outline: hsla(240, 75%, 50%, 1.00); */
}

.rightSide-footer {
	padding-top: 3rem;
	padding-left: var(--rightSide-LeftPad);
	padding-bottom: 5rem;
}

.btnSubmit {
	padding: 1.35rem 6.1rem;
	margin-bottom: 3rem;
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 0.07rem;
	border-radius: 8px;
	border: 0;

	background-color: hsla(170, 55%, 50%, 1.00);
	color: white;
	cursor: pointer;
	box-shadow: 3px 3px 3px #ccc;
}

.btnSubmit:hover {
	background-color: hsla(170, 75%, 60%, 1.00);
	transform: scale(1.05);
	transform-origin: center;
	transition: 0.1s;
}

.btnSubmit:active {
	background-color: hsla(170, 55%, 30%, 1.00);
}

.rightSide-footer > p:last-of-type { 
	font-weight: bold;
}

.rightSide-footer > p:last-of-type :is(a:link, a:visited, a:hover, a:active){
	text-decoration: none;
	color: hsla(140, 25%, 30%, 1.00);

}

@media only screen and (min-width: 700px) {
	.wholeBox{
		background: 19% 9% / 1200px repeat url(https://images.unsplash.com/photo-1674380394920-d3625d55d7c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80);
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		width: min(98vw, 145rem);
	}

	.leftSide {
		background: none;
		justify-content: start;
		flex: 1 1 34rem; /* do not comment-out */
	}

	.leftSide-overlayBox {
		height: min(13vw, 17rem);
		width: 100%;
		top: calc(199px - 1.5vw);
	}

	.leftSide-logoImage {
		height: min(6vw, 8rem);
		margin-right: 1.5rem;
	}

	.leftSide-brand {
		font-size: min(5vw, 7rem);
	}
	
	.rightSide {
		flex: 1 1 66rem; /* do not comment-out */

		display: flex;
		flex-flow: column; /* flex-flow is shorthand for <fx direction> | <fx wrap> */

	}

	.rightSide-header {
		padding-top: 15rem;

		/* flex: 1 0 auto; */
	}

	.rightSide-body {
		/* flex: 1 0 auto; */
	}

	.rightSide-footer {
		flex: 1 1 auto;
	}
}

@media only screen and (min-width: 900px) {
	li {
		flex: 1 1 20rem;
	}
	
	.rightSide-fieldsBox :where(label, input) {
		flex: 1 1 25rem;
	}
}

@media only screen and (min-width: 1100px) {
	li {
		flex: 0 0 25rem;
	}
	
	.rightSide-fieldsBox :where(label, input) {
		flex: 0 0 26rem;
	}
}
